body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  padding-top: 10px;
}

li {
  list-style: none;
}

.weather-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

#description {
  text-transform: capitalize;
}

.weather {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

#search-input {
  text-align: center;
}

.current-weather-temperature {
  display: flex;
  align-items: center;
}

.current-weather-temperature .active {
  color: black;
  cursor: default;
}

.current-weather-temperature .active:hover {
  text-decoration: none;
}

#currentTemp {
  font-size: 40px;
  padding-right: 10px;
}
